.text-primary {
  color: var(--primary-color) !important;
}
.text-gray-400 {
  color: #bdc3c7;
}
.border-gray-700 {
  border-color: rgba(255, 255, 255, 0.1) !important;
}
.hover-lift {
  transition: transform 0.3s ease;
}
.hover-lift:hover {
  transform: translateY(-3px);
  color: var(--primary-color) !important;
}
