<div class="position-sticky pt-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="bi bi-house-door"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/checkin">
        <i class="bi bi-box-arrow-in-right"></i> Check-in/Check-out
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/rooms">
        <i class="bi bi-door-open"></i> Habitaciones
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/room-types">
        <i class="bi bi-houses"></i> Tipos de Habitación
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/services">
        <i class="bi bi-stars"></i> Servicios
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/users">
        <i class="bi bi-people"></i> Usuarios
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/logs">
        <i class="bi bi-list-check"></i> Logs
      </a>
    </li>
  </ul>
</div>
