.navbar {
    background-color: var(--background-dark) !important;
}

.navbar-brand,
.nav-link {
    color: var(--text-color-light) !important;
}

.nav-link:hover,
.nav-link.active {
    color: var(--primary-orange-light) !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    /* Larger brand text */
}

.btn-primary {
    background-color: var(--primary-orange) !important;
    border-color: var(--primary-orange) !important;
    color: var(--text-color-light) !important;
}

.btn-primary:hover {
    background-color: var(--primary-orange-dark) !important;
    border-color: var(--primary-orange-dark) !important;
}

/* Ensure toggler icon is visible on dark background */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1) !important;
}